<template>
  <div class="page-header">
    <div class="logo"><img src="../assets/img/logo.png" alt=""></div>
    <div class="ui" >XH-UI</div>
  </div>
</template>

<script>
  export default {

  }
</script>

<style>
  .page-header{
    height: 70px;
    box-shadow: rgba(29, 29, 29, 0.07) 0px 10px 60px 0px;
  }
  .page-header .logo{
    float: left;
    margin-left: 60px;
  }
  .page-header .logo img{
    margin-top: 10px;
    width: 50px;
    height: 50px;
  }
  .page-header .ui{
    float: left;
    color: #6190e8;
    margin-top: 43px;
    margin-left: 8px;
    font-size: 13px
  }
</style>
